.sb-section-one {
	display: grid;
	grid-column: main-start-section/main-end-section;
	grid-template-columns: repeat(4, 1fr);
	behavior: smooth;
	margin-top: 5rem;
	z-index: 100000;
}

.sb-section-one-content {
}
.sb-section-one-img {
	background: url('/images/mulÄer_1.jpg') no-repeat center center/cover;
	height: 60vh;
	grid-column: span 2;
}
.sb-section-one-img img {
	max-width: 100%;
	display: block;
	min-height: 500px;
}

.sb-section-one-content {
	padding-right: 25%;
	grid-column: span 2;
	display: grid;

	height: 45vh;
	align-self: center;
	position: relative;
}
.sb-section-one-content img {
	position: absolute;
	top: 0%;
	right: 20%;
	opacity: 0.05;
	height: 40%;
}
.sb-section-one-title {
	display: flex;
	gap: 1rem;
}

.sb-section-one-title h3:nth-child(1) {
	color: var(--color-main);
}

.sb-section-one-title h3:nth-child(2) {
	color: #6b6c6e;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}

.sb-section-one-subtitle {
	height: min-content;
}

.sb-section-one-subtitle h1 {
	font-size: 2.2rem;
	font-weight: 300 !important;
	color: white;
	line-height: 3rem;
}
.sb-section-one-subtitle > h1:nth-child(1) {
	font-weight: 600 !important;
}

.sb-section-one-sum h4 {
	color: white;
	font-weight: 400;
}
.sb-section-one-text {
	height: min-content;
	display: grid;
	grid-gap: 1rem;
}

.sb-section-one-text p {
	line-height: 2rem;
	color: var(--color-text);
	font-size: 0.9rem;
}

.sb-section-one-button button {
	padding: 0.8rem 3rem;
	background-color: transparent;
	border: 1px solid var(--color-main);
	color: white;
}
@media (max-width: 1200px) {
	.sb-section-one-img {
		height: 45vh;
	}
	.sb-section-one-subtitle h1 {
		font-size: 1.4rem;
		line-height: 2rem;
	}
	.sb-section-one-text p {
		line-height: 1.5rem;
		color: var(--color-text);
		font-size: 0.8rem;
	}
	.sb-section-one-text {
		grid-gap: 0.5rem;
	}
	.sb-section-one-content {
		height: 42vh;
		align-self: start !important;
	}
}

@media (max-width: 1000px) {
	.sb-section-one-img {
		grid-column: 1/-1 !important;
		height: 500px !important;
	}
	.sb-section-one-content {
		grid-column: 1/-1 !important;
		padding-right: 0% !important;
		height: 40vh !important;
		margin-bottom: 2rem;
	}
	.sb-section-one {
		margin-bottom: 5rem;
	}

	.sb-section-one-subtitle h1 {
		font-size: 2rem;
		line-height: 3rem;
	}
	.sb-section-one-text p {
		line-height: 2rem;
		color: var(--color-text);
		font-size: 0.9rem;
	}
}
@media (max-width: 600px) {
	.sb-section-one-img {
		grid-column: 1/-1 !important;
		height: 350px !important;
	}
	.sb-section-one-content {
		grid-column: 1/-1 !important;
		padding-right: 0% !important;

		margin-bottom: 5rem;
	}
	.sb-section-one {
		margin-bottom: 5rem;
	}

	.sb-section-one-subtitle h1 {
		font-size: 1.4rem;
		line-height: 2rem;
	}
	.sb-section-one-text p {
		line-height: 1.5rem;
		color: var(--color-text);
		font-size: 0.9rem;
	}
}
