.sb-section-five {
	grid-column: main-start-section/main-end-section;
	display: grid;

	margin-bottom: 7rem;
	margin-top: 5rem;
}

.sb-section-five-items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.sb-section-five-subtitle h1 {
	font-size: 2rem;
	color: white;
	font-weight: 400;
	line-height: 3rem;
}
.sb-section-five-subtitle h1:nth-child(1) {
	font-weight: 600;
}

.sb-section-five-item {
	height: 350px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	grid-column: span 1;
}
.one {
	background-image: url('/images/mulčer_jesen.jpg');
}
.two {
	background-image: url('/images/mulčer_daljinsko_vodenje_km.jpg');
}
.three {
	background-image: url('/images/mulčer_4x4_km.jpg');
}
.four {
	background-image: url('/images/mulčer_gozd.jpg');
}

.sb-section-five-subtitle {
	grid-column: 1/-1;
	color: white;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.sb-section-five-subtitle h3 {
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
}

.sb-section-five-moto {
	display: grid;
	grid-column: 1/-1;
	justify-items: end !important;
	margin-top: 1rem;
}

.sb-section-five-moto h3 {
	font-size: 1.6rem;
	color: white;
	font-weight: 500;
	letter-spacing: 0.1rem;
}

@media (max-width: 1550px) {
	.sb-section-five-item {
		height: 250px;
	}
}
@media (max-width: 1200px) {
	.sb-section-five-items {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0.5rem;
	}
	.sb-section-five-item {
		height: 350px;
	}
}
@media (max-width: 800px) {
	.sb-section-five-items {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0.5rem;
	}
	.sb-section-five-item {
		height: 250px;
	}
}
@media (max-width: 600px) {
	.sb-section-five-items {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0.5rem;
	}
	.sb-section-five-item {
		height: 300px;
	}
}
