.sb-section-four {
	grid-column: main-start-section/main-end-section;
	display: grid;
	position: relative;
	margin-bottom: 5rem;
}

.sb-section-four-items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 2rem;
	grid-gap: 2rem;
}

.sb-section-four-subtitle h1 {
	font-size: 2rem;
	color: white;
	font-weight: 400;
	line-height: 3rem;
}
.sb-section-four-subtitle h1:nth-child(1) {
	font-weight: 600;
}
.swiper-slide {
	width: 200px;
	height: 300px;
	perspective: 1000px;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.card-inner {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;

	transition: transform 0.8s ease-in-out;
}

.swiper-slide:hover .card-inner {
	transform: rotateY(180deg);
}

.swiper-slide:hover .card-front h1 {
	opacity: 0;
}
.card-front {
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.card-front {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	backface-visibility: hidden;
	border-radius: 0px;
}
.card-back {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: grid;

	justify-content: center;
	backface-visibility: hidden;
	border-radius: 0px;
	color: white;
}
.card-front {
	background: lightblue;
}
.card-back-text {
	display: grid;

	padding: 2% 10% !important;
	grid-gap: 1.2rem;
}
.card-back-text-content {
	grid-column: 1/-1;
	display: grid;
	grid-gap: 0.2rem;
}
.card-back-text-content-item {
	display: flex;
	gap: 10px;
	align-items: center !important;
}
.card-back-text-item-text {
	line-height: 1rem;
}
.card-back-text h2 {
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 1rem;
}

.card-back-price {
	display: flex;
	gap: 8px;
}
.card-back-text-icon {
	display: grid;
	align-items: center;
}
.card-back-price p {
	color: var(--color-text) !important;
	margin-bottom: 1rem;
}
.card-back-price h4 {
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 1rem;
	text-transform: uppercase;
	color: var(--color-main);
}
.card-back-call {
	justify-self: end;
	padding-right: 10%;
}
.card-back-call h4 {
	color: var(--color-main);
	font-weight: 500;
}
.card-back {
	background: yellow;
	transform: rotateY(180deg);
}
.overlay {
	width: 100%;
	height: 100%;
	background: lightblue;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotateY(0deg);
	transition: transform 0.5s ease-in-out;
}

.overlay-text {
	text-align: center;
}

.overlay-text h2 {
	margin-bottom: 1rem;
	font-size: 1.2rem;
	color: var(--color-main);
}

.swiper {
	grid-column: 1/-1;
	width: 100%;
	margin-top: 2rem;
	height: min-content;
}
.sb-section-four .swiper-slide {
	min-height: 60vh !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: grid;
}
.km-swiper-slide-text {
	grid-column: 1/-1;
	display: flex;
	justify-items: center;
	align-items: center;
	gap: 20px;
	position: absolute;
	top: 10%;
	left: 5%;
	width: 100%;
	padding: 1rem;
}

.km-swiper-slide-text div {
	background-color: var(--color-main);
	padding: 0.1rem 1rem;
	color: white;
	font-size: 1.2rem;
	font-weight: 600;
}

.km-swiper-slide-text h1 {
	font-size: 1.3rem;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	letter-spacing: 3px;
	opacity: 1;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.501) !important;
	transition: opacity 0.5s ease-in-out;
}

.sb-section-four .swiper-slide h3 {
	color: white;

	font-weight: 400;
	font-size: 1.4rem;
}

.sb-section-four .swiper-wrapper {
	margin-bottom: 5rem;
}

.swiper-pagination {
	margin-top: 2rem;
}

.swiper-pagination-bullet:hover {
	background-color: var(--color-main) !important;
}

.sb-section-four #container {
	top: 20;

	margin-bottom: -2rem;
	grid-column: 1/-1;
}

.swiper-pagination-bullet {
	align-items: center;

	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 1rem;
	color: white;
	opacity: 1;
	border-radius: 0px;
	background: rgba(255, 255, 255, 0.079);
}

.swiper-pagination-bullet-active {
	color: #fff;
	background: var(--color-main);
}

.sb-section-four-items-final {
	display: grid;
	grid-column: 1/-1;
	margin-top: 2rem;
	grid-gap: 4rem;
}
.sb-section-four-item {
}

.sb-section-four-item-title {
	display: flex;
	gap: 10px;
	align-items: center;
	color: white;
	margin-bottom: 1rem;
}
.sb-section-four-box {
	padding: 0rem 1rem;
	color: white;
	background-color: var(--color-main);
	font-size: 1.2rem;
	font-weight: 700;
	display: grid;
}
.sb-section-four-item-title h1 {
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: 400;
}
.sb-section-four-item-box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0.5rem;

	height: 60vh;
}
.sb-section-four-item-content {
	background-color: rgb(14, 14, 14);
	color: white;
	padding: 2rem;
	align-items: center;
}
.sb-section-four-item-summary {
	padding: 2rem;
	font-weight: 600;
}
.sb-section-four-item-list {
	padding: 0.5rem 0rem 2rem 2rem;
}
.sb-section-four-item-content-feature {
	display: flex;
	align-items: center;
	gap: 10px;
}

.sb-section-four-item-content-feature p {
	color: rgb(225, 225, 225);
}
.sb-section-four-icon {
	display: flex;
	color: var(--color-main) !important;
}

.sb-section-four-item-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 100%;
	display: block;
}
.img-one {
	background-image: url('/images/mulcer_one.jpg');
}
.img-two {
	background-image: url('/images/mulcer_two.jpg');
}
.img-three {
	background-image: url('/images/mulcer_three.jpg');
}
.img-four {
	background-image: url('/images/mulcer_four.jpg');
}

.sb-section-four-item-title-right {
	justify-self: end !important;
}
