.section-img {
	grid-column: full-start-section/full-end-section;
	display: grid;
	background: linear-gradient(rgba(27, 28, 29, 0.99), rgb(27, 28, 29, 0.7)),
		/* Gradient overlay */ url('/images/park-bg-two.png'); /* Background image */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	justify-items: center;
	padding-top: 7rem;
	padding-bottom: 7rem;
	grid-template-columns: [full-start-bg]2fr [main-start-bg]repeat(12, 8rem) [main-end-bg] 2fr [full-end-bg];
}

.section-img-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column: main-start-bg/main-end-bg;
	height: min-content;
	align-self: center;
}
.section-img-image {
	align-items: center;
	display: grid;
	grid-column: 1/-1;
	grid-template-columns: repeat(6, 1fr);
	justify-items: center;
	align-items: start !important;
	justify-self: center !important;
}

.section-img-image img {
	display: block;
	max-width: 120%;
}
.section-img-image img:nth-child(1) {
}
.sb-section-img-title {
	display: flex;
	gap: 1rem;
}
.sb-section-img-title-container {
	grid-column: 1/-1;
	height: min-content;
	text-align: center;
	display: grid;
	justify-items: center;
}
.sb-section-img-title h3:nth-child(1) {
	color: var(--color-main);
}

.sb-section-img-title h3:nth-child(2) {
	color: #6b6c6e;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}

.sb-section-img-subtitle {
	grid-column: 1/-1;
	color: white;
	display: flex;
	align-items: center;
	gap: 10px;
}

.sb-section-img-subtitle h1:nth-child(1) {
	font-size: 2.2rem;
}
.sb-section-img-subtitle h1:nth-child(2) {
	font-size: 2.2rem;
	font-weight: 300;
	line-height: 3rem;
}

.sb-section-img-icons {
	display: grid;
	align-self: center !important;
	grid-column: 1/-1;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 2rem;
}

.km-numbers {
	grid-column: main-start-section/main-end-section;
	display: grid;

	grid-template-columns: repeat(4, 1fr);
	margin-top: 0rem;
	width: 100%;
	justify-self: center !important;
}
.km-numbers-container {
	display: flex;
	flex-direction: column;
	gap: 0px;
	margin-top: 0rem !important;
}
.km-numbers-wrapper {
	display: grid;
	grid-column: 1/-1;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 3rem;

	row-gap: 1rem;
}

.km-numbers-item {
	display: flex;
	grid-template-columns: repeat(3, 130px);
	align-items: center;
	grid-column: span 1;
	gap: 10px;
}
.km-text-up {
	grid-column: 1/-1;
}

.km-number-item-bg {
	text-transform: uppercase;
	text-align: center;
	color: rgba(255, 255, 255, 0.331);
	font-size: 80px;
	font-weight: 700;
	line-height: 100px;
	width: 50px;
	grid-column: 1;
}

.km-text-mid {
	display: grid;

	grid-column: 1/-1;
	width: min-content;
}

.km-text-down {
	grid-column: 1/-1;

	z-index: 10;
	color: white;
}

.km-text-mid svg {
	stroke: var(--color-main);
}

.km-text-down h2 {
	grid-column: 1/-1;
	line-height: 1.1;
	font-weight: 300;
	font-size: 1.1rem;
	width: 100%;
}

.km-numbers-item h3 {
	font-size: 2.2rem;
	color: var(--km-orange);
}
